<section class="tabs--section__wrapper">
  <div class="tabs--section__content" [ngSwitch]="screen">
    <app-title
      *ngSwitchDefault
      color="black"
      label="Open new tabs is sh*t "
      size="large"
    ></app-title>
    <app-title
      *ngSwitchCase="'smallScreen'"
      color="black"
      label="Open new tabs is sh*t "
      size="extra-small"
    ></app-title>
    <div *ngSwitchDefault class="row align-items-center">
      <img
        class="col-2"
        src="../../../../../assets/images/solution.png"
        alt="solution for discover a trend"
      />
      <div class="col-8 tab__background">
        <div class="row align-items-center justify-content-center tab__wrapper">
          <img
            class="col-8 tab"
            src="../../../../../assets/images/Findtrend.svg"
            alt="Findtrend tab"
          />
        </div>
      </div>
      <img
        class="col-2"
        src="../../../../../assets/images/one-tab.png"
        alt="you just need one tab now"
      />
      <div class="open-tab__text">
        <p>
          A solution for your browser tabs and don’t make your device get slower
          over time. Get ease and faster to discover a trend with just one tab.
        </p>
      </div>
    </div>
    <div *ngSwitchCase="'smallScreen'">
      <div class="tab__background">
        <img
          class="one-tab__image--small"
          src="../../../../../assets/images/one-tab-small.png"
          alt="solution for discover a trend"
        />
          <img
            class="tab--small"
            src="../../../../../assets/images/Findtrend.svg"
            alt="Findtrend tab"
          />
        <img
          class="solution__image--small"
          src="../../../../../assets/images/solution-small.png"
          alt="you just need one tab now"
        />
      </div>
      <div class="open-tab__text">
        <p>
          A solution for your browser tabs and don’t make your device get slower
          over time. Get ease and faster to discover a trend with just one tab.
        </p>
      </div>
    </div>
  </div>
</section>
