.hero__wrapper {
  background-color: black;
  background-image: url('../../../assets/images/ornament-background.svg');
  background-position: center;
  color: #ffffff;
  min-height: 800px;

}

@media screen and (max-width: 400px) {
  .hero__wrapper {
    background-image: url('../../../assets/images/Bg-hero-small.png');
    background-position: right top;
    background-repeat: round;
  }
}
